@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400');
body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) ), url("../../public/img/KT123.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Position{
    margin: 0 auto;
    width: 1450px;
    min-height: 1000px;
}

.container{
    display: flex;
}
.select{
    margin: 0 auto;
    width: 200px;

    border: 3px solid white;
    padding-top: 150px;

    text-align: center;
    line-height : 100px;

    color: white;
    font-size: 35px;
    font-weight: 400;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.select:hover{

    border: 3px solid red;
    background-color: black;
    transition: .5s;
}

/* 선수창 */
.card{
    height: 350px;
    width: 300px;
    border: 3px solid red;
    margin: 30px 10px 30px 40px;
    color : white
}
.card:hover {
    transform: scale( 1.05, 1.05 );
    transition: .5s;
    
}
.number{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex h1{
    margin-top: 20px;
    font-size: 25px;
}
.Title{
    color : white;
    font-size: 80px;
    width: 300px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: -60px;
}

.Content{
    display: grid;
    grid-template-columns: 33% 67% ;
    gap: 10px;
    height : 400px;
    width: 1200px;
    margin : 150px auto;
}
.record{
    grid-row: 1 / 4;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 2px solid white ;
    border-bottom: 2px solid white ;
}
.playerimg img{
    margin-top: 20px;
    width: 300px;
    height: 300px;
}
.playerNumber{
    margin-top: 25px;
    margin-left: 20px;
}
.playerName{
    margin-top: 25px; 
    margin-left: 20px;
}
.playerRecord{
    margin-top: 30px; 
}
.season{
    margin-top: 45px; 
    margin-left: 20px;
    font-size: 20px;
    color: gray;
}
.record2{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    font-size: 35px;
    color: white;
    border-top: 2px solid white ;
    border-bottom: 2px solid white ;
    
}
.record3{
    display: grid;
    background-color: rgba(0, 0, 0, 0.7);
    grid-template-columns: 30% 30% 30%;
    font-size: 23px;
    color: white;
    grid-auto-rows: minmax(100px, auto);
    border-top: 2px solid white ;
    border-bottom: 2px solid white ;
}
.record4{
    border-top: 2px solid white ;
    border-bottom: 2px solid white ;
}
.fight{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}


