#container{
    width : 100%;
    margin : 0 auto;
}
#header{
    background-color: white;
}
#footer{
    background-color: yellow;
}
#main{
    display: flex;
    /* flex-direction: row-reverse; */
}